@use 'variables' as *;

html {
    font-size: 125%;
    font-family: 'Cormorant Garamond', serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    font-style: italic;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

p {
    margin: 0;
    letter-spacing: 0.2px;
    line-height: 1.5rem;
}

button {
    border-style: none;
    background-color: $primaryBrown;
    color: $primaryBlack;
    padding: 10px;

    a{
        color: $primaryBlack;
        padding: 10px 10px;
    }

    a:hover, a:focus {
        color: $primaryPurple;
    }
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}