
$primaryPurple: #A4AEE3;
$secondaryPurple: #CABCDC;
$primaryBrown: #DAC3C0;
$primaryBlue: #dceaff;
$secondaryBlue: #dceaff;
$primaryWhite: #ffffff;
$primaryBlack: #000000;
$primaryGrey: #73859f;
$primaryGreen: #a4e3d4;